header {
  border-bottom: 1px solid grey;
  padding: 30px 0;
  margin: 20px 0;
}

.search-form-input {
  border: none;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  box-sizing: content-box;
  outline: none;
}

.search-form-button {
  background: rgb(176, 219, 237);
  padding: 7px 20px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  color: black;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  font-size: 50px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
}

.weather-app-details strong {
  color: purple;
}

.weather-app-temperature-container {
  display: flex;
  margin-top: 10px;
}

.weather-app-icon {
  font-size: 75px;
}

.weather-app-temperature {
  font-size: 60px;
  margin-left: 10px;
  font-weight: bold;
  line-height: 88px;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 15px;
}

li {
  list-style: none;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  color: purple;
  text-align: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
